.home {
  display: flex;
  flex-direction: column;
  height: 93vh;
  background-image: url("https://www.transparenttextures.com/patterns/axiom-pattern.png");
  background-repeat: repeat;
}

.home__display {
  display: flex;
  height: 100%;
}
