.not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff; /* Background color for the error page */
    color: #333; /* Text color */
    font-family: Arial, sans-serif;
  }
  
  .h11 {
    font-size: 72px;
    margin-bottom: 20px;
  }
  
  .p11 {
    font-size: 18px;
  }
  
  .page_404{ padding:40px 0; background:#fff; font-family: 'Arvo', serif;
  }
  
  .page_404  img{ width:100%;}
  
  .four_zero_four_bg{
   
   background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
      height: 400px;
      background-position: center;
   }
   
   
   .four_zero_four_bg h1{
   font-size:80px;
   }
   
    .four_zero_four_bg h3{
               font-size:80px;
               }
               
               .link_404{			 
      color: #fff!important;
      padding: 10px 20px;
      background: #39ac31;
      margin: 20px 0;
      display: inline-block;}
      .contant_box_404{ margin-top:-50px;}
  
    .link_404 {
      display: inline-block;
      padding: 10px 20px; /* Adjust the padding as needed */
      background-color: #daa520; /* Button background color */
      color: #fff; /* Text color */
      text-decoration: none; /* Remove default underline */
      border: none; /* Remove border */
      border-radius: 4px; /* Rounded corners */
      cursor: pointer; /* Show a pointer cursor on hover */
      transition: background-color 0.3s ease; /* Add a smooth background color transition on hover */
  }
  
  .link_404:hover {
      background-color: #d19702; /* Change the background color on hover */
  }